<form id="searchForm" class="form-search">
    <div class="input-append">
        <input id="searchCourse" type="text" class="span2 input-medium search-query">
        <button id="searchBtn" class="btn" type="button">Søk</button>
    </div>
</form>

<ul id="courseList" class="unstyled"></ul>
